
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!--<input id="travelto" type="text" name="name" value="113 Ingcuce Road, Durban Central, Durban, South Africa" readonly="readonly" />
  Source :
<input id="travelfrom" type="text" name="name" />
<br />
<br />
<div id="dvMap" style="min-height: 300px"></div>-->


<div id="scheduler">

</div>
<div id='calendar'></div>

<div>
  <button class="btn btn-success" (click)="myFunction()">Re Load Calendar</button>
</div>


<div id="employeeAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title">Add Employee</h4>
      </div>
      <div class="modal-body">
        <form class="col-md-12 form-horizontal">
          <input type="hidden" id="hdStaffMemberId" value="0" />
          <div class="form-group">
            <label>First Name</label>
            <input type="text" id="txtFirstName" class="form-control" />
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" id="txtLastName" class="form-control" />
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" id="txtPhoneNo" class="form-control" />
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <input type="text" id="txtEmailAdd" class="form-control" />
          </div>
          <div class="form-group">
            <label>Date Of Birth</label>
            <div class="input-group date" id="dtDOB">
              <input type="text" id="txtDob" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>

          </div>
          <button type="button" id="btnSaveEmployee" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="eventClickModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
        <h4 class="modal-title"><span id="eventTitle"></span></h4>
      </div>
      <input type="hidden" id="hdStaffMemberId" value="0" />
      <div class="modal-body">

        Destination <input id="travelto" type="text" name="name" value="113 Ingcuce Road, Durban Central, Durban, South Africa" readonly="readonly" />
        <br />
        Source :
        <input id="travelfrom" type="text" name="name" value="Musgrave Centre, Musgrave Road, Musgrave, Berea, South Africa" />

        <br />
        <div id="dvMap" style="min-height: 300px"></div>

        <p id="pDetails"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="myMap()">Get Map</button>
        <input type="button" value="Get Directions" (click)="GetRoute()" />
        <button type="button" onClick="initMap()" class="btn btn-success" data-dismiss="modal">Map</button>
      </div>
    </div>
  </div>
</div>


<div id="resourceClickModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">Close</button>
        <h4 class="modal-title"><span id="resourceTitle"></span></h4>
      </div>
      <div class="modal-body">


        <p id="pDetailsRes"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="eventAddModal" class="modal fade" data-toggle="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">close</button>
        <h4 class="modal-title">Save Schedule</h4>
      </div>
      <div class="modal-body">
        <form class="col-md-12 form-horizontal">
          <input type="hidden" id="hdEventID" value="0" />
          <input type="hidden" id="hdEmployeeID" value="0" />
          <div class="form-group">
            <label>Employee</label>
            <input readonly type="text" id="txtSubject" class="form-control" />
          </div>
          <div class="form-group">
            <label>Grade Allocated :</label>
            <select id="ddClassRoom" class="form-control">
              <option value="">Select Grade</option>

            </select>
          </div>
          <div class="form-group">
            <label>Start</label>
            <div class="input-group date" id="dtp1">
              <input type="text" id="txtStart" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label>End</label>
            <div class="input-group date" id="dtp2">
              <input type="text" id="txtEnd" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="form-group" id="divEndDate" style="display:none">
            <label>End</label>
            <div class="input-group date" id="dtp2">
              <input type="text" id="txtEnd" class="form-control" />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>


          <div class="form-group">
            <label>Theme Color</label>
            <select id="ddThemeColor" class="form-control">
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="black">Black</option>
              <option value="green">Green</option>
              <option value="yellow">Yellow</option>
              <option value="Teal">Teal</option>
            </select>
          </div>
          <button type="button" id="btnSave" class="btn btn-success">Save</button>
          <button type="button" id="" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.9.4/scheduler.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
