<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark"
  >
    <div class="container">
     
      <a class="navbar-brand" [routerLink]="['/']">Student-Tutor</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/faculty">Faculties <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/department">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/course">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/students">Students</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/add-booking']">Booking</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/fetch-calendar']">Calender</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
