

<div class="row">

  <div class="fa-align-center" style="margin-top: 2%; width: 45%; padding-right: 30px; padding-right: 30px; margin-bottom: 50px">

    <div>Rank Address</div>
    <input type="text" id="totdistance" style="display:none" />
    <div>
      <input id="travelto" type="text" name="name" value="Musgrave Centre, Musgrave Road, Musgrave, Berea, South Africa"  />


    </div>
    <div id="destinations"></div><br />
    Source : <input id="travelfrom" type="text" name="name" value="Berea Centre, King Dinuzulu Road (South ), Bulwer, Berea, South Africap" /> <br /> <br />


    <input type="button" value="Get Directions" (click)="GetRoute()" />


    <p></p>
    <br />
    <div id="dvDistance">
      <table id="tblResults" border="1" cellpadding="10">
        <tr>
          <th> Source </th>
          <th> Destination </th>
          <th> Distance </th>
          <th> Duration </th>
        </tr>
      </table>

    </div>

    <p></p>

    <div id="dvMap" style="min-height: 300px; min-width: 350px"></div>

  </div>


  <!--ENSURE YOU CHANGE TO YOUR OWN API KEY HERE !!! -->

</div>

<button type="button"  (click)="myMap()">Get Map</button>

